body{
    margin:0px;
}

.box{
    width: 30%;
    margin: 1.66%;
    padding-bottom: 30%;
    float: left;    
    border-radius: 15%;
    transition: background-color 0.5s;;
}

.container{
    margin: 30px auto;
}